{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "airbnb-base"
  ],
  "plugins": [
    "import"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "paths": ["src"]
      },
      "babel-module": {}
    }
  },
  "overrides": [{
    "files": ["src/*/*/*", "src/*/*"],
    "rules": {
      "no-restricted-imports": [0, {
        "patterns": ["../*"]
      }]
    }
  }],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/indent": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "arrow-parens": "off",
    "semi": "off",
    "comma-dangle": "off",
    "import/first": [2, {
      "absolute-first": 0
    }],
    "import/newline-after-import": [2, {
      "count": 1
    }],
    "import/no-extraneous-dependencies": [2, {
      "devDependencies": true
    }],
    "import/no-unresolved": [2, {
      "ignore": ["@types\/"],
      "caseSensitive": false
    }],
    "import/order": [2, {
      "groups": [
        ["builtin", "external"],
        ["internal"],
        ["index", "sibling", "parent"]
      ],
      "newlines-between": "always"
    }],
    "import/prefer-default-export": "off",
    "indent": "off",
    "jsx-quotes": [1, "prefer-single"],
    "max-len": [2, {
      "code": 200,
      "ignorePattern": "import \\{?\\s?.*\\s?\\}? from '.*';"
    }],
    "no-undef": "off",
    "no-unused-vars": "off",
    "no-unused-expressions": "off",
    "no-use-before-define": "off",
    "no-restricted-imports": [2, {
      "patterns": ["../../*"]
    }],
    "object-curly-newline": "off",
    "quotes": [1, "single"]
  }
}